USE [master]
GO
/****** Object:  Database [DB_MobileStore_v2]    Script Date: 11/28/2021 9:09:55 PM ******/
CREATE DATABASE [DB_MobileStore_v2]
use [DB_MobileStore_v2]

ALTER DATABASE [DB_MobileStore_v2] SET COMPATIBILITY_LEVEL = 110
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_MobileStore_v2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_MobileStore_v2]
GO

/****** Object:  Table [dbo].[CT_HDBAN]    Script Date: 11/28/2021 9:09:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HDBAN](
	[MaHDB] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuongBan] [int] NULL,
	[DonGiaBan] [float] NULL,
	[TongTien] [float] NULL,
 CONSTRAINT [PK_CT_HDBAN] PRIMARY KEY CLUSTERED 
(
	[MaHDB] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_HDNHAP]    Script Date: 11/28/2021 9:09:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HDNHAP](
	[MaSP] [int] NOT NULL,
	[MaHDN] [int] NOT NULL,
	[SoLuongNhap] [int] NULL,
	[DonGiaNhap] [float] NULL,
	[TongTien] [float] NULL,
 CONSTRAINT [PK_CT_HDNHAP] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC,
	[MaHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADONBAN]    Script Date: 11/28/2021 9:09:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONBAN](
	[MaHDB] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [int] NULL,
	[MaKH] [int] NULL,
	[NgayLapHDB] [date] NULL,
	[ThanhTienHDB] [float] NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_HOADONBAN] PRIMARY KEY CLUSTERED 
(
	[MaHDB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADONNHAP]    Script Date: 11/28/2021 9:09:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONNHAP](
	[MaHDN] [int] IDENTITY(1,1) NOT NULL,
	[MaNCC] [int] NULL,
	[MaNV] [int] NULL,
	[NgayLapHDN] [date] NULL,
	[ThanhTienHDN] [float] NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_HOADONNHAP] PRIMARY KEY CLUSTERED 
(
	[MaHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 11/28/2021 9:09:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](250) NULL,
	[SdtKH] [char](11) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 11/28/2021 9:09:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MaNCC] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](50) NULL,
	[Email] [varchar](50) NULL,
	[SdtNCC] [char](11) NULL,
	[DiaChi] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/28/2021 9:09:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[DiaChiNV] [nvarchar](250) NULL,
	[NgaySinh] [char](10) NULL,
	[SdtNV] [char](11) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 11/28/2021 9:09:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](250) NULL,
	[DonGiaNhap] [float] NULL,
	[DonGiaBan] [float] NULL,
	[SoLuongTon] [int] NULL,
	[MoTa] [nvarchar](max) NULL,
	[MaThuongHieu] [int] NULL,
	[TenAnh] [nvarchar](200) NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THUONGHIEU]    Script Date: 11/28/2021 9:09:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUONGHIEU](
	[MaThuongHieu] [int] IDENTITY(1,1) NOT NULL,
	[TenThuongHieu] [nvarchar](100) NULL,
 CONSTRAINT [PK_THUONGHIEU] PRIMARY KEY CLUSTERED 
(
	[MaThuongHieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CT_HDBAN] ([MaHDB], [MaSP], [SoLuongBan], [DonGiaBan], [TongTien]) VALUES (134, 4, 2, 12000, 24000)
INSERT [dbo].[CT_HDBAN] ([MaHDB], [MaSP], [SoLuongBan], [DonGiaBan], [TongTien]) VALUES (134, 8, 1, 130000, 130000)
INSERT [dbo].[CT_HDBAN] ([MaHDB], [MaSP], [SoLuongBan], [DonGiaBan], [TongTien]) VALUES (135, 8, 50, 130000, 6500000)
INSERT [dbo].[CT_HDNHAP] ([MaSP], [MaHDN], [SoLuongNhap], [DonGiaNhap], [TongTien]) VALUES (8, 28, 50, 120000, 6000000)
INSERT [dbo].[CT_HDNHAP] ([MaSP], [MaHDN], [SoLuongNhap], [DonGiaNhap], [TongTien]) VALUES (9, 27, 21, 2000, 70000)
INSERT [dbo].[CT_HDNHAP] ([MaSP], [MaHDN], [SoLuongNhap], [DonGiaNhap], [TongTien]) VALUES (19, 29, 2, 10000000, 20000000)
SET IDENTITY_INSERT [dbo].[HOADONBAN] ON 

INSERT [dbo].[HOADONBAN] ([MaHDB], [MaNV], [MaKH], [NgayLapHDB], [ThanhTienHDB], [GhiChu]) VALUES (134, 1, 2, CAST(N'2019-12-15' AS Date), 154000, N'')
INSERT [dbo].[HOADONBAN] ([MaHDB], [MaNV], [MaKH], [NgayLapHDB], [ThanhTienHDB], [GhiChu]) VALUES (135, 1, 1, CAST(N'2019-12-15' AS Date), 6500000, N'')
INSERT [dbo].[HOADONBAN] ([MaHDB], [MaNV], [MaKH], [NgayLapHDB], [ThanhTienHDB], [GhiChu]) VALUES (144, 1, 1, CAST(N'2021-11-26' AS Date), 7000000, N'')
SET IDENTITY_INSERT [dbo].[HOADONBAN] OFF
SET IDENTITY_INSERT [dbo].[HOADONNHAP] ON 

INSERT [dbo].[HOADONNHAP] ([MaHDN], [MaNCC], [MaNV], [NgayLapHDN], [ThanhTienHDN], [GhiChu]) VALUES (27, 1, 1, CAST(N'2019-12-15' AS Date), 70000, N'')
INSERT [dbo].[HOADONNHAP] ([MaHDN], [MaNCC], [MaNV], [NgayLapHDN], [ThanhTienHDN], [GhiChu]) VALUES (28, 1, 1, CAST(N'2019-12-15' AS Date), 6100000, N'')
INSERT [dbo].[HOADONNHAP] ([MaHDN], [MaNCC], [MaNV], [NgayLapHDN], [ThanhTienHDN], [GhiChu]) VALUES (29, 1, 1, CAST(N'2021-11-27' AS Date), 38000000, N'')
SET IDENTITY_INSERT [dbo].[HOADONNHAP] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [DiaChi], [SdtKH]) VALUES (1, N'Nguyễn Lê Hoàng Duy', N'Ho Chi Minh', N'0989999888 ')
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [DiaChi], [SdtKH]) VALUES (2, N'Lê Viết Tường', N'Dong Nai', N'0945454556 ')
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [DiaChi], [SdtKH]) VALUES (3, N'Phạm Minh Toàn', N'Binh Duong', N'0934567899 ')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] ON 

INSERT [dbo].[NHACUNGCAP] ([MaNCC], [TenNCC], [Email], [SdtNCC], [DiaChi]) VALUES (1, N'Thế Giới Di Động', N'thegioididong@gmail.com', N'09865656566', N'14 Trường Chinh, P 12, Q Tân Bình, Tp HCM')
INSERT [dbo].[NHACUNGCAP] ([MaNCC], [TenNCC], [Email], [SdtNCC], [DiaChi]) VALUES (3, N'Vien Thong @', N'Vienthong@gamil.com', N'09865233665', N'19 Cong Hoa, P12, Q Tan Binh, Tp HCM')
INSERT [dbo].[NHACUNGCAP] ([MaNCC], [TenNCC], [Email], [SdtNCC], [DiaChi]) VALUES (4, N'FPT Shop', N'Fpt@gmial.com', N'0152333333 ', N'67, Tran Phu, Q 5 , Tp HCM')
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [DiaChiNV], [NgaySinh], [SdtNV]) VALUES (1, N'Trần Minh Tân', N'Ca Mau', N'1-1-1988  ', N'0945789789 ')
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [DiaChiNV], [NgaySinh], [SdtNV]) VALUES (2, N'Huỳnh Nhật Tân', N'Ho Chi Minh', N'2-3-1994  ', N'0944778855 ')
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [DiaChiNV], [NgaySinh], [SdtNV]) VALUES (3, N'Lê Hải Đăng', N'Dong Nai', N'02/02/1997', N'0987777454 ')
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [DonGiaNhap], [DonGiaBan], [SoLuongTon], [MoTa], [MaThuongHieu], [TenAnh]) VALUES (2, N'iPhone 8s', 8800, 11000, 30, N'Iphone 8', 1, N'Dien-Thoai-iphone-12-xanh-duong-new-2-600x600.jpg')
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [DonGiaNhap], [DonGiaBan], [SoLuongTon], [MoTa], [MaThuongHieu], [TenAnh]) VALUES (3, N'HTC One Me', 4000, 5800, 45, N'HTC One Me', 2, N'Diene-thoai-samsung-galaxy-note-10-plus-white.jpg')
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [DonGiaNhap], [DonGiaBan], [SoLuongTon], [MoTa], [MaThuongHieu], [TenAnh]) VALUES (4, N'Sony Xperia 1', 11000, 12000, 10, N'Sony Xperia 1 512GB', 5, N'Dien_thoai_SamSung_Galaxy_A51.jpg')
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
SET IDENTITY_INSERT [dbo].[THUONGHIEU] ON 

INSERT [dbo].[THUONGHIEU] ([MaThuongHieu], [TenThuongHieu]) VALUES (1, N'Samsung')
INSERT [dbo].[THUONGHIEU] ([MaThuongHieu], [TenThuongHieu]) VALUES (2, N'iPhone')
INSERT [dbo].[THUONGHIEU] ([MaThuongHieu], [TenThuongHieu]) VALUES (3, N'Sony')
SET IDENTITY_INSERT [dbo].[THUONGHIEU] OFF
ALTER TABLE [dbo].[CT_HDBAN]  WITH CHECK ADD  CONSTRAINT [FK_CT_HDBAN_HOADONBAN] FOREIGN KEY([MaHDB])
REFERENCES [dbo].[HOADONBAN] ([MaHDB])
GO
ALTER TABLE [dbo].[CT_HDBAN] CHECK CONSTRAINT [FK_CT_HDBAN_HOADONBAN]
GO
ALTER TABLE [dbo].[CT_HDBAN]  WITH CHECK ADD  CONSTRAINT [FK_CT_HDBAN_SANPHAM] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CT_HDBAN] CHECK CONSTRAINT [FK_CT_HDBAN_SANPHAM]
GO
ALTER TABLE [dbo].[CT_HDNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CT_HDNHAP_HOADONNHAP] FOREIGN KEY([MaHDN])
REFERENCES [dbo].[HOADONNHAP] ([MaHDN])
GO
ALTER TABLE [dbo].[CT_HDNHAP] CHECK CONSTRAINT [FK_CT_HDNHAP_HOADONNHAP]
GO
ALTER TABLE [dbo].[CT_HDNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CT_HDNHAP_SANPHAM] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CT_HDNHAP] CHECK CONSTRAINT [FK_CT_HDNHAP_SANPHAM]
GO
ALTER TABLE [dbo].[HOADONBAN]  WITH CHECK ADD  CONSTRAINT [FK_HOADONBAN_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[HOADONBAN] CHECK CONSTRAINT [FK_HOADONBAN_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADONBAN]  WITH CHECK ADD  CONSTRAINT [FK_HOADONBAN_NHANVIEN1] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOADONBAN] CHECK CONSTRAINT [FK_HOADONBAN_NHANVIEN1]
GO
ALTER TABLE [dbo].[HOADONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_HOADONNHAP_NHACUNGCAP] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHACUNGCAP] ([MaNCC])
GO
ALTER TABLE [dbo].[HOADONNHAP] CHECK CONSTRAINT [FK_HOADONNHAP_NHACUNGCAP]
GO
ALTER TABLE [dbo].[HOADONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_HOADONNHAP_NHANVIEN1] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOADONNHAP] CHECK CONSTRAINT [FK_HOADONNHAP_NHANVIEN1]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_THUONGHIEU] FOREIGN KEY([MaThuongHieu])
REFERENCES [dbo].[THUONGHIEU] ([MaThuongHieu])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_THUONGHIEU]
GO
USE [master]
GO

-- Trigger  giảm SOLUONGTON trên bảng SANPHAM mỗi khi bán mặt hàng đó ra(nhập dữ liệu vào bảng CT_HDBAN).
	CREATE TRIGGER TRG_CapNhatSL_SP_CT_HDBAN
	ON CT_HDBAN
	AFTER INSERT
	AS 
	BEGIN
		UPDATE SANPHAM
		SET SOLUONGTON= SP.SOLUONGTON - (SELECT SOLUONGBAN FROM INSERTED WHERE MASP=SP.MASP)
		FROM SANPHAM SP 
		JOIN INSERTED ON SP.MASP = INSERTED.MASP
	END
	
-- Trigger  tăng SOLUONG trên bảng SANPHAM mỗi khi nhập mặt hàng đó (nhập dữ liệu vào bảng CT_HDNHAP).

	CREATE TRIGGER TRG_CapNhatSL_SP_CT_HDNHAP 
	ON CT_HDNHAP
	AFTER INSERT
	AS 
	BEGIN
		UPDATE SANPHAM
		SET SOLUONGTON= SP.SOLUONGTON + (SELECT SOLUONGNHAP FROM INSERTED WHERE MASP=SP.MASP)
		FROM SANPHAM SP 
		JOIN INSERTED ON SP.MASP = INSERTED.MASP
	END

-- Trigger cập nhật tổng tiền trong bảng HOADONBAN khi thêm THANHTIEN trong bảng CT_HDBAN
	CREATE TRIGGER TRG_CapNhatTT_HDBAN_CT_HDBAN
	ON CT_HDBAN 
	AFTER INSERT 
	AS 
	BEGIN
		UPDATE HOADONBAN
		SET THANHTIENHDB=(SELECT SUM(TONGTIEN) FROM CT_HDBAN WHERE MAHDB=HD.MAHDB GROUP BY MAHDB)
		FROM HOADONBAN HD 
		JOIN INSERTED ON HD.MAHDB = INSERTED.MAHDB	
	END

-- Trigger cập nhật tổng tiền trong bảng HOADONNHAP khi thêm THANHTIEN trong bảng CT_HDNHAP
	CREATE TRIGGER TRG_CapNhatTT_HDNHAP_CT_HDNHAP
	ON CT_HDNHAP 
	AFTER INSERT,UPDATE,DELETE 
	AS 
	BEGIN
		UPDATE HOADONNHAP
		SET THANHTIENHDN=(SELECT SUM(TONGTIEN) FROM CT_HDNHAP WHERE MAHDN=HDN.MAHDN GROUP BY MAHDN)
		FROM HOADONNHAP HDN 
		JOIN INSERTED ON HDN.MAHDN = INSERTED.MAHDN 
	END

------------
sp_addrole 'QUANLI'

sp_addrole 'NVBANHANG'

sp_addrole 'NVKHO'

--Nhân viên quản lí có mọi chức năng
GRANT SELECT,INSERT,UPDATE,DELETE ON CT_HDBAN TO QUANLI
GRANT SELECT,INSERT,UPDATE,DELETE ON CT_HDNHAP TO QUANLI
GRANT SELECT,INSERT,UPDATE,DELETE ON HOADONBAN TO QUANLI
GRANT SELECT,INSERT,UPDATE,DELETE ON HOADONNHAP TO QUANLI
GRANT SELECT,INSERT,UPDATE,DELETE ON KHACHHANG TO QUANLI
GRANT SELECT,INSERT,UPDATE,DELETE ON NHACUNGCAP TO QUANLI
GRANT SELECT,INSERT,UPDATE,DELETE ON NHANVIEN TO QUANLI
GRANT SELECT,INSERT,UPDATE,DELETE ON SANPHAM TO QUANLI
GRANT SELECT,INSERT,UPDATE,DELETE ON THUONGHIEU TO QUANLI

--Nhân viên bán hàng có chức năng sử dụng trên bảng hóa đơn, chi tiết hóa đơn, khách hàng
GRANT SELECT,INSERT,UPDATE,DELETE ON HOADONBAN TO NVBANHANG
GRANT SELECT,INSERT,UPDATE,DELETE ON CT_HDBAN TO NVBANHANG
GRANT SELECT,INSERT,UPDATE,DELETE ON KHACHHANG TO NVBANHANG
--Nhân viên kho có chức năng sử dụng trên bảng nhà cung cấp, hóa đơn nhâp, chi tiết hóa đơn nhập
GRANT SELECT,INSERT,UPDATE,DELETE ON HOADONNHAP TO NVKHO
GRANT SELECT,INSERT,UPDATE,DELETE ON CT_HDNHAP TO NVKHO
GRANT SELECT,INSERT,UPDATE,DELETE ON NHACUNGCAP TO NVKHO

sp_addlogin 'admin','123'
sp_addlogin 'nvbh1','123'
sp_addlogin 'nvbh2','123'
sp_addlogin 'nvkho1','123'
sp_addlogin 'nvkho2','123'

sp_adduser 'admin','huynhnhattan'
sp_adduser 'nvbh1','lehaidang'
sp_adduser 'nvbh2','tranminhtan'
sp_adduser 'nvkho1','leviettuong'
sp_adduser 'nvkho2','nguyenlehoangduy'

sp_addrolemember 'QUANLI','huynhnhattan'
sp_addrolemember 'NVBANHANG','lehaidang'
sp_addrolemember 'NVBANHANG','tranminhtan'
sp_addrolemember 'NVKHO','leviettuong'
sp_addrolemember 'NVKHO','nguyenlehoangduy'